SCIPE.code-workspace
PersonalGeminiAPIKey.txt
clim-JCLI-D-21-0754.1.pdf
1-s2.0-S1364682625001889-main.pdf
001_The Hawai 'i climate data portal (HCDP)_2024.pdf
.env
scholar_results.txt
browser_session
downloads
matches
__pycache__
*.png
*.tiff

# Generated Outputs
outputs/*.html
/gridded_map.html
/gridded_rainfall_map.html
/station_map.html
/unified_rainfall_map.html
/unified_temperature_map.html
/verify_*.html
/*.html
/HCDP_API/*.html
/gemini_chat/*.html
/database/*.html

# Data Files (Root Only)

HCDP_API/__init__.py
.clinerules
.cursorrules
.windsurfrules
.venv_linux
.venv
server.log
node_modules
pymupdf-venv
sync.sh

# Large Data Files
# TileDB Arrays (Ignore all subdirectories in database folder, but keep scripts)
database/*/
!database/*.py
!database/*.md
database.7z
tiff_files.7z



.last_frontend_hash
.last_backend_hash
annotated_papers.md
.last_frontend_hash
.last_backend_hash
