SCIPE.code-workspace
PersonalGeminiAPIKey.txt
clim-JCLI-D-21-0754.1.pdf
1-s2.0-S1364682625001889-main.pdf
001_The Hawai 'i climate data portal (HCDP)_2024.pdf
.env
scholar_results.txt
browser_session
downloads
matches
__pycache__
*.png
*.tiff

# Generated Outputs
outputs/*.html
/gridded_map.html
/gridded_rainfall_map.html
/station_map.html
/unified_rainfall_map.html
/unified_temperature_map.html
/verify_*.html
/*.html
/HCDP_API/*.html
/gemini_chat/*.html
/database/*.html

# Data Files (Root Only)

HCDP_API/__init__.py
.clinerules
.cursorrules
.windsurfrules
.venv_linux
.venv
server.log
node_modules
pymupdf-venv
sync.sh

#Large Data Files
monthly_rainfall
monthly_temperature
spi
monthly_min_temperature
monthly_max_temperature
rainfall_array
temperature_array
spi_array
min_temp_array
max_temp_array
database.7z
tiff_files.7z
2026_daily_rainfall





annotated_papers.md
