SCIPE.code-workspace
PersonalGeminiAPIKey.txt
clim-JCLI-D-21-0754.1.pdf
1-s2.0-S1364682625001889-main.pdf
001_The Hawai 'i climate data portal (HCDP)_2024.pdf
.env
scholar_results.txt
browser_session
downloads
matches
__pycache__
*.html
station_rainfall_data.json
*.png
*.tiff
HCDP_API/__init__.py
monthly_rainfall
monthly_temperature

rainfall_array
temperature_array
spi_array


